body {
  margin: 0px;
  font-family: 'Pretendard', 'Apple SD Gothic Neo', sans-serif;
}

span {
  margin-top: 2px;
  font-size: 20px;
}

.container {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin: 0px 25px 0px 25px;
  padding: 0px 20px 4px 20px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.5s;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px 0px; */

  text-decoration: none;
  transition: all 0.3s;
  color: black;
  scale: 65%;
}

.hidden {
  animation: fadeout 1s;
  -moz-animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  -o-animation: fadeout 1s;
}

@keyframes fadeout {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@-moz-keyframes fadeout { /* Firefox */
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
@-o-keyframes fadeout { /* Opera */
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}